PORT=3000

INPAY_MERCHANT_ID=your_inpay_merchant_id
INPAY_MERCHANT_TOKEN=your_inpay_merchant_token
PAYMENT_API_BASE=https://inpay.uz/api/v1
CALLBACK_URL=https://forevertv-pay.onrender.com/api/webhook

SUPABASE_URL=https://zrmmmlrkhzhjabihwmgv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
